footer.page__footer-wrapper
  .footer-contacts__wrapper
    .footer-contacts__copyright All rights reserved 2012 #[a.footer-contacts__link(href='www.blugraphic.com') www.blugraphic.com] &#64;blugraphic
    .footer-contacts__foot-menu
      +site_menu("footer-menu")
  a.footer-contacts__button--rss(href='#')
  a.footer-contacts__button--twitter(href='#')
  a.footer-contacts__button--fb(href='#')
