.footer-contacts__wrapper
  .footer-contacts__copyright All rights reserved 2012 #[a.footer-contacts__link(href='www.blugraphic.com') www.blugraphic.com] &#64;blugraphic
  .footer-contacts__foot-menu
      +site_menu("menu-footer")
  .footer-contacts__buttons
    //- -var contact_buttons_arr;
    //- -var contact_buttons_arr.push(["","",""]);

