.footer-contacts__wrapper
  .footer-contacts__copyright All rights reserved 2012 #[a.footer-contacts__link(href='www.blugraphic.com') www.blugraphic.com] &#64;blugraphic
  .footer-contacts__foot-menu
  .footer-contacts__buttons
    +site-menu()
