.footer-contacts__wrapper
  .footer-contacts__copyright All rights reserved 2012 #[a.footer-contacts__link(href='www.blugraphic.com') www.blugraphic.com] &#64;blugraphic
  .footer-contacts__foot-menu
    +site_menu("footer-menu")
a(href='#').footer-contacts__button--rss
a(href='#').footer-contacts__button--twitter
a(href='#').footer-contacts__button--fb
