footer {

}

.footer-contacts {

  &__copyright {
    @include sansus_webissimo--regular(12px, $gray-light)
  }
  &__foot-menu {

  }
  &__link {
    text-decoration: none;
  }
}
.footer-menu {
  &__list {
    display: flex;
  }
  &__item {

  }
  &__list {
    content:"•";
  }
}
