footer, .page__footer-wrapper  {
  display: flex;
  flex-direction: row;
  width: $min-width;
}

.footer-contacts {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__copyright {
    @include sansus_webissimo--regular(12px, $gray-light);
  }
  &__foot-menu {

  }
  &__link {
    text-decoration: none;
    @include sansus_webissimo--regular(12px, $gray-light);
  }
}

.footer-menu {
  display: flex;
  flex-direction: row;
  list-style: none;

  &__item {
    text-decoration: none;
    @include sansus_webissimo--regular(12px, $gray-light);

    & a {
      text-decoration: none;
      @include sansus_webissimo--regular(12px, $gray-light);
      position: relative;
    }

    &:after {
      display: inline-block;
      position: relative;
      content:" . ";
      margin-left:10px;
      margin-right: 10px;
    }
  }
}

@mixin contacts__button($bk-col, $bd-col) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  border-radius: 3px;
  background-color: $bk-col;
  border: 1px solid $bd-col;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

  &:before {
    content: '';
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.footer-contacts__button {
  &--rss {
    @include contacts__button(#fed970, #f4b64d);

    &:before {
      @include sprite-ico_rss;
    }
  }

  &--twitter {
    @include contacts__button(#49d7fe, #36b6d9);

    &:before {
      @include sprite-ico_twitter;
    }
  }

  &--fb {
    @include contacts__button(#718fc7, #4d6ba3);

    &:before {
      @include sprite-ico_fb;
    }
  }
}
