footer {
  display: flex;
  flex-direction: row;
  width: $min-width;
}
.page__footer-wrapper {

  // justify-content: space-between;
}

.footer-contacts {
  // display: flex;
  // flex-direction: column;
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__copyright {
    @include sansus_webissimo--regular(12px, $gray-light);
  }
  &__foot-menu {

  }
  &__link {
    text-decoration: none;
    @include sansus_webissimo--regular(12px, $gray-light);
  }
}
.footer-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  &__item {
    text-decoration: none;
    @include sansus_webissimo--regular(12px, $gray-light);
    & a {
      text-decoration: none;
      @include sansus_webissimo--regular(12px, $gray-light);
      position: relative;
    }
    &:after {
      display: inline-block;
      position: relative;
      content:" . ";
      margin-left:10px;
      margin-right: 10px;
    }
  }
}

@mixin footer-contacts__button($bk-col, $bk-url,$bd-col) {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 30px;
  border-radius: 3px;
  background: $bk-col url($bk-url) no-repeat center center;
  border: 1px solid $bd-col;
  flex-grow: 0;
}
.footer-contacts__button {
  &--rss {
    @include footer-contacts__button(#fed970,'../img/ico_rss.png', #f4b64d);
  }
  &--twitter {
    @include footer-contacts__button(#49d7fe,'../img/ico_twitter.png', #36b6d9);
    }
  &--fb {
    @include footer-contacts__button(#718fc7,'../img/ico_fb.png', #4d6ba3);
  }
}
