.page {

  &__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: $min-width;
    height: 100%;
    border-top: $page-border;
    border-bottom: $page-border;
    padding-top: 70px;
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }

  &__footer-wrapper {
    flex: 0 0 auto;
  }
}


// ===================== BASIC STYLES =======================
.section__head {
  margin-top: 44px;
  margin-bottom: 15px;
  @include homestead_display(14px, rgb(144,144,144));
}

.article__wrapper {
  display: flex;
  flex-direction: row;
  width: $col-width;
  margin-right: $col-margin;
}

.article__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin-right: 14px;
  border: none;
  border-radius: 22px;
  background: repeating-linear-gradient(-45deg, #676767 0%, #676767 1%, #575757 1%, #575757 3%);
  @include homestead_display(21px, rgb(203,203,203));
}

.article__head {
  @include sansus_webissimo--regular(16px, rgb(121,121,121));
  text-align: left;
}

.article__text {
  @include sansus_webissimo--regular(12px, rgb(121,121,121));
  text-align: left;
}

// ===================== SLIDER =======================

.main-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: $col-width + $col-margin + $col-width + $col-margin + $col-width +1px;
  margin-bottom: 62px;
  padding: 12px;
  @include grad-border(1px, #d1d1d1, #b5b5b5);
  background:url('../img/slide_back.png') repeat;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 4px;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: calc(100% - 6px);
    height: 100%;
    left: 2px;
    top: 2px;
    @include grad-border(1px, #d1d1d1, #b5b5b5);
    background:url('../img/slide_back.png') repeat;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 4px;
  }
}

.main-slider__wrapper {
  padding-bottom: 16px;
}

.main-slider__slide {
  box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 4px;
}

.main-slider__img {
  display: block;
  width: 100%;
  height: auto;
}

.main-slider__counter {
  display: flex;
  flex-direction: row;
}

.main-slider__counter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  margin-right: 6px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  @include grad-border(1px, #d1d1d1, #b5b5b5);
  box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 4px;

  &--active {
    &::before {
      content: '';
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background: linear-gradient(180deg, #71c5c8,#2b696d);
    }
  }
}

// ===================== SERVICES =======================
.services__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

// ===================== PROJECTS =======================
.projects {
  width: 100%;
}

.projects__slider-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.slide {
  margin-right: $col-margin;
}

.slide__img-wrapper {
  @include grad-border(1px, #d1d1d1, #b5b5b5);
  padding: 1px;
}

.slide__img {
  display: block;
  width: 100%;
  height: auto;
  @include grad-border(1px, #d1d1d1, #b5b5b5);
}

.slide__text {
  @include sansus_webissimo--regular(12px, rgb(121,121,121));
  text-align: left;
}
