.page {

  &__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: $min-width;
    height: 100%;
    border-top: $page-border;
    border-bottom: $page-border;
    padding-top: 74px;
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }

  &__footer-wrapper {
    flex: 0 0 auto;
  }
}


// ===================== BASIC STYLES =======================
.section__head {
  margin-top: 44px;
  @include homestead_display(14px, rgb(144,144,144));
}

.article__wrapper {
  display: flex;
  flex-direction: row;
  width: $col-width;
  margin-right: $col-margin;
  // flex: 0 0 auto;
}

.article__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin-right: 14px;
  border: none;
  border-radius: 22px;
  // background-color: #565656;
  background: repeating-linear-gradient(-45deg, #676767 0%, #676767 1%, #575757 1%, #575757 3%);
  @include homestead_display(21px, rgb(203,203,203));
}

.article__head {
  @include sansus_webissimo--regular(16px, rgb(121,121,121));
  text-align: left;
}

.article__text {
  @include sansus_webissimo--regular(12px, rgb(121,121,121));
  text-align: left;
}

// ===================== SERVICES =======================
.services__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

// ===================== PROJECTS =======================
.projects {
  width: 100%;
}

.projects__slider-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

}
.slide {
  margin-right: $col-margin;

}
.slide__img-wrapper {
  border: 1px solid $gray-slide;
  padding: 1px;
}
.slide__img {
  display: block;
  border: 1px solid $gray-slide;
  width: 100%;
  height: auto;
}
.slide__text {
  @include sansus_webissimo--regular(12px, rgb(121,121,121));
  text-align: left;
}
