.page {
  &__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: $min-width;
    // background-color: yellow;
    border-top: $page-border;
    border-bottom: $page-border;
    padding-top: 74px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
  }
  &__footer-wrapper {
    flex: 0 0 auto;
  }
}
