.projects {
  width: 100%;
}

.projects__slider-wrapper {
  display: flex;
  flex-orienttion: row;
  width: 100%;

}
.slide {
  margin-right: 24px;

}
.slide__img-wrapper {
  border: 1px solid $gray-slide;
  padding: 1px;
}
.slide__img {
  border: 1px solid $gray-slide;
  width: 100%;
  height: 100%;
}
.slide__text {

}
